<!DOCTYPE html>
<html>

<head>
    <title>HOME PAGE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</head>

<script>
    $(document).ready(function() {
        var value = $('#substr').text().substr(0, 250)
        console.log(value.length)
        $('#substr').text(value).append(`<a href="#" class="substr"> Read More... </a>`)
    })
</script>

<body>
    <nav>
        <h4>Articles of User</h4>
        <ul>
            <li>
                <a href="/">HOME</a>
                {{!-- <a href="/articlepage/article">ARTICLE</a> --}}
                <a href="/articlepage/add">ADD ARTICLE</a>
                <a href="/users/logout">LOGOUT</a>
            </li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Open to Your Article
            </div>
            <div class="card-body">
                <div class="row text-center mt-4">This is your article</div>
                <div class="col-md-8 offset-2">
                    <div>
                    <h3>All Articles</h3>
                    <ul class="list-group">
                        {{#each articleData}}
                        <li class="list-group-item">
                            <h3><a href="#" id="articleId">{{title}}</a></h3>
                            <h4 id="substr">
                                {{body}}
                            </h4>
                            <h5>
                                BY: {{author}} <h6>&nbsp;{{author_id}}</h6>
                            </h5>
                        </li>
                        {{/each}}
                    </ul>
                    </div>
                    <div class="row mt-3">
                        <center>
                            <a href="/articlepage/update"><button class="btn btn-primary text-white" id="article-edit-button">Edit this article</button></a>
                            <a href="/articlepage/delete"><button class="btn btn-danger text-white offset-1 offset-md-5 offset-sm-1" id="delete-button">Delete this article</button></a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        {{#if message}}
        <h4 class="alert alert-danger mt-4">
            {{message}}
        </h4>
        {{/if}}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
</body>

</html>